*{
  box-sizing: border-box;
}
:root {
  --dark-blue: rgb(22, 25, 33);
  --grey-dark-blue: #28304a;
  --grey-blue: #536398;
}
input {
  height: 30px;
  width: 300px;
  border: 1px solid blue;
  margin: 0 auto;
}