*{
  box-sizing: border-box;
}
:root {
  --dark-blue: rgb(22, 25, 33);
  --grey-dark-blue: #28304a;
  --grey-blue: #536398;
  --light-grey-blue: #b5beddad;
}

.inputBox {
  height: auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--light-grey-blue);
  border-radius: 10px;
  margin: 40px auto;
  padding: 40px 20px;
}

input, button {
  display: block;
  margin: 20px auto;
}

input {
  height: 30px;
  width: 300px;
  padding: 5px 14px;
  border: none;
  border-bottom: 1px solid var(--grey-blue);
}

button.input-button {
  position: relative;
  top: 20px;
  background-color: var(--light-grey-blue);
  width: 120px;
  height: 30px;
  color: var(--dark-blue);
  border: none;
  border-radius: 4px;
}